@media  (max-width:1024px) {
    .logo_menu {
        justify-content: flex-start;
    }
    .logo_icon {
        width: 0;
    }
    .welcom {
        height: 651px;
    }
    h1 {
        font-size: 24px;
        line-height: 43px;
    }
    h2 {
        font-size: 47px;
        line-height: 56px;
    }
    .welcom h1 {
        margin: 144px 0px 10px 20px;
    }
    .welcom h2 {
        margin: 199px 0px 20px 22px;
    }
    .welcom button {
        width: 146px;
        height: 55px;
        border-radius: 11px;
        margin-left: 20px;
        margin-top: 386px;
    }
    .welcom button p {
        font-size: 13px;
        line-height: 22px;
        margin-left: 23px;
    }
    .natural {
        width: 441px;
        height: 251px;
    }
    .natural h3,
    .offer h3 {
        font-size: 24px;      
        margin-top: 70px;
        margin-left: 37px;
    }
    .natural h4,
    .offer h4 {
        font-size: 26px;
        margin-left: 33px;    
    }
    .offer {
        width: 441px;
        height: 251px;
    }
    .about_img {
        width: 448px;
        height: 426px;
    }
    .test {
        height: 900px;
    }
    .test h1 {
        top: 78px;
    }
    .test h2 {
        font-size: 40px;
        margin-top: 66px;
        margin-bottom: 36px;
    }
    .test p {
        font-size: 16px;
        line-height: 23px;
    }
    hr {
        width: 580px;
        margin: 58px auto 0px auto;
    }
    .circles {
        max-width: 662px;
    }
    .circl_1,
    .circl_2,
    .circl_3,
    .circl_4 {
        width: 150px;
        height: 150px;
        margin-top: 60px;
    }
    .circ_promo {
        height: 52px;  
        top: calc(50% - 52px/2);
    }
    .circl_1 .circ_promo {
        width: 62px;    
        left: calc(50% - 62px/2);    
    }
    .circl_2 .circ_promo {
        width: 82px;
        left: calc(50% - 82px/2);
    }
    .circl_3 .circ_promo {
        width: 94px;
        left: calc(50% - 94px/2);
    }
    .circl_4 .circ_promo {
        width: 95px;
        left: calc(50% - 95px/2);
    }
    .circ2 {
        width: 144px;
        height: 144px;
        margin-top: 4px;
        margin-left: 4px;
    }
    .circ_promo p {
        font-size: 25px;
        line-height: 21px;       
    }
    .circ_promo p span {
        font-size: 11px;    
    }
    .eco {
        height: 486px;
    }
    .eco_info {
        height: 430px;
        width: 496px;    
        margin-top: 27px;
        margin-left: 455px;
        border-radius: 21px 0px 0px 21px;
    }
    .eco_info h1,
    .eco_info h2,
    .eco_info h4,
    .eco_info p {
        margin-left: 41px;
    }
    .eco_info h1 {
        line-height: 45px;
        margin-top: 27px;   
    }
    .eco_info h2 {
        font-size: 31px;
        line-height: 39px;
        margin-bottom: 21px;
    }
    .eco_info h4 {
        font-size: 17px;
        line-height: 33px;
    }
    .eco_info p {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 7px;   
    }
    .promo_2 {
        height: 592px;
    }
    .juice,
    .org_food,
    .nuts {
        width: 317px;
        margin-top: 96px;    
    }
    .juice button,
    .org_food button,
    .nuts button {
        height: 66px;
        width: 188px;
        margin-top: 167px;
        margin-left: 62px;
        font-size: 18px;
    }
    .sub {
        max-width: 951px;
        height: 221px;   
    }
    .pages p {
        font-size: 16px;        
    }
    .footer_img {
        height: 470px;
    }
}