@media  (max-width:800px) {
    .nav_menu li {
        padding: 10px 10px;
    }
    header {
        margin: 30px 20px 30px 20px;
    }
    .menu {
        width: 500px;
    }
    .welcom {
        height: 525px;
    }
    .promo {
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .natural {
        margin-bottom: 30px;
    }
    .about {
        justify-content: center;
    }
    .about_img {
        width: 0;
    }
    .our_products {
        margin-top: 130px;
    }
    .prod_list {
        justify-content: center; 
    }
    .test p {
        font-size: 15px;
    }
    .offer_prod {
        height: 2000px;
    }
    .off_prom {
        flex-wrap: wrap;
        padding: 60px 30px 260px 30px;
    }
    .offer_but button {
        margin-top: 25px;
    }
    .eco {
        height: 785px;
    }
    .eco_info {
        height: 516px;
        width: 600px;
        margin-top: 120px;
        margin-left: 100px;
        border-radius: 21px;
    }
    .eco_info h4 {
        font-size: 20px;
        line-height: 35px;
    }
    .eco_info p {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 9px;
    }
    .promo_2 {
        height: 426px;
    }
    .juice,
    .org_food,
    .nuts {
        width: 228px;
        margin-top: 69px;    
    }
    .juice button,
    .org_food button,
    .nuts button {
        height: 48px;
        width: 135px;
        margin-top: 120px;
        margin-left: 45px;
        font-size: 13px;
    }
    .sub_name {
        margin-top: 60px;
        margin-left: 30px;
    }
    .sub_name h2 {
        font-size: 30px;
        line-height: 30px;
        margin-left: 5px;
    }
    .sub form {
        margin-top: 60px;
    }
    .foot_info {
        flex-wrap: wrap ;
    }
    .contact h3,
    .contact h4,
    .contact p,
    .pages h3,
    .pages p {
        text-align: center;
    }
    .footer_img {
        margin-top: 700px;
        height: 370px;
    }

}